<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <aliases>
      <add alias="IPhone" type="IOCContainer.UnityTest.IPhone,IOCContainer" />
      <add alias="ApplePhone" type="IOCContainer.UnityTest.ApplePhone, IOCContainer" />
      <add alias="AndroidPhone" type="IOCContainer.UnityTest.AndroidPhone, IOCContainer" />
      <add alias="IHeadphone" type="IOCContainer.UnityTest.IHeadphone, IOCContainer" />
      <add alias="Headphone" type="IOCContainer.UnityTest.Headphone, IOCContainer" />
      <add alias="IPower" type="IOCContainer.UnityTest.IPower, IOCContainer" />
      <add alias="Power" type="IOCContainer.UnityTest.Power, IOCContainer" />
    </aliases>
    <containers>
      <container name="ContainerOne">
        <!-- type属性是接口名；mapto里是类名-->
        <register type="IPhone" mapTo="ApplePhone"/>
        <register type="IPhone" mapTo="AndroidPhone" name="Android"/>
        <register type="IHeadphone" mapTo="Headphone"/>
        <register type="IPower" mapTo="Power"/>
      </container>
    </containers>
  </unity>
</configuration>
